<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		">

	<sec:http pattern="/**/*.css" security="none" />
	<sec:http pattern="/**/*.jpg" security="none" />
	<sec:http pattern="/**/*.jpeg" security="none" />
	<sec:http pattern="/**/*.gif" security="none" />
	<sec:http pattern="/**/*.png" security="none" />
	<sec:http pattern="/**/*.js" security="none" />
	<sec:http pattern="/**/*.ico" security="none" />
	<sec:http pattern="/**/*.jsp" security="none" />

	<sec:http auto-config="true" >
 		<sec:intercept-url pattern="/**" access="ROLE_ADMIN" />
		
		<sec:form-login 
			login-page="/views/login.jsp" 
			authentication-failure-url="/views/login.jsp"
			default-target-url="/"
			login-processing-url="/j_spring_security_check"
			username-parameter="username" 
			password-parameter="password"
			 />
		<sec:remember-me  />
		
		<sec:logout 
			delete-cookies="openMenu"
			invalidate-session="true"
			logout-url="/j_spring_security_logout" 
			logout-success-url="/views/login.jsp" />
			
		<sec:access-denied-handler ref="mahjongAccessDeniedHandler"/>
		<sec:custom-filter ref="sessionManagementFilter" before="SESSION_MANAGEMENT_FILTER"/>
		<sec:custom-filter ref="mahjongSecurityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
	</sec:http>
	
	<bean id="mahjongAccessDeniedHandler" class="cn.mahjong.core.security.MahjongAccessDeniedHandler" />
	<bean id="sessionManagementFilter" class="org.springframework.security.web.session.SessionManagementFilter">
        <constructor-arg name="securityContextRepository" ref="httpSessionSecurityContextRepository" />
        <property name="invalidSessionStrategy" ref="mahjongInvalidSessionHandler" />
    </bean>
    <bean id="httpSessionSecurityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"></bean>
    
    <bean id="mahjongInvalidSessionHandler" class="cn.mahjong.core.security.MahjongInvalidSessionHandler">
		<property name="redirectUrl" value="/views/login.jsp"></property>
		<property name="removeCookies">
			<array>
				<value>openMenu</value>
			</array>
		</property>
	</bean>
	
    <bean id="mahjongSecurityFilter" class="cn.mahjong.core.security.MahjongSecurityFilter">
		<property name="authenticationManager" ref="authenticationManager" />  
        <property name="accessDecisionManager" ref="mahjongAccessDecisionManager" />  
        <property name="metadata" ref="mahjongSecurityMetadata" />
        <property name="rejectPublicInvocations" value="true" />
	</bean>
    
    <bean id="mahjongSecurityMetadata" class="cn.mahjong.core.security.MahjongSecurityMetadata"></bean>
    <bean id="mahjongAccessDecisionManager" class="cn.mahjong.core.security.MahjongAccessDecisionManager"></bean>
    
	<bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="hideUserNotFoundExceptions" value="false" />
		<property name="userDetailsService" ref="userService" />
		<property name="passwordEncoder" ref="passwordEncode" />
		<property name="saltSource" ref="saltSource" />
	</bean>
	
	<sec:authentication-manager erase-credentials="false" alias="authenticationManager">
		<sec:authentication-provider ref="authenticationProvider" />
	</sec:authentication-manager>
	
	<bean id="passwordEncode" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="username" />
	</bean>
</beans>